/********************
** Buttons
********************/
.btn{

	&.pill{
		display: inline-block;
		text-align: center;
		color: $c-white;
		padding: 8px 15px;
		border-radius: 666px;
		border: 1px solid $c-white;
		font-weight: 800;
		text-transform: uppercase;
		text-decoration: none;
		@include font-size(16);
		@include transition(background-color .25s ease-in-out);

		@include bp(sml) {
			@include font-size(18);	
		}
		@include bp(med) {
			@include font-size(20);
		}

		&.blue{
			background-color: rgba($c-blue-light,.6);
			&:hover{
				background-color: rgba($c-blue-light,1);
			}
		}
		&.green{
			background-color: rgba($c-green,.8);
			&:hover{
				background-color: rgba($c-green,1);
			}
		}
		&.large{
			padding: 15px 25px;	
			border-radius: 50px;
		}
		&.wide{
			width: 66.66%;
			max-width: 300px;
			padding: 15px 25px;
			border-radius: 50px;
		}
	}
	&.cta{
		margin: 10px;
		padding: 20px;
		@include bp(sml) {
			padding: 20px 35px;
		}
		@include bp(med) {
			padding: 20px 50px;
		}
		display: inline-block;
		text-transform: uppercase;
		@include font-size(20);
		@include letter-spacing(25);
		font-weight: bolder;
		border-radius: 3px;
		text-decoration: none;
		@include transition(background-color .25s ease-in-out);

		&.blue{
			background-color: $c-blue-light;
			color: $c-white;
			&:hover{
				background-color: darken($c-blue-light,7);
			}
		}
	}
}


a.go-back{
	text-transform: uppercase;
	vertical-align: middle;
	display: inline-block;

	&:before{
		content: '\f430';
		display: inline-block;
		font-family: $f-icons;
		vertical-align: bottom;
		@include font-size(20);
		position: relative;
		left: 0;
		@include transition(left .25s ease-in-out);
	}
	&:hover{
		&:before{
			left: -4px;
		}
	}
}
