/********************
** Colors Vars
********************/
$c-body:		#FFFFFF;
$c-base:		#3c3f41;//body text color
$c-white:		#FFFFFF;
$c-black:		#000000;

$c-gray:		#b7b7b7;

$c-blue-dark:	#00519b;//background overlay blue
$c-blue-light:  #13b6eb;//logo blue

$c-red:			#f26c4f;

$c-green:		#27c085;

/********************
** Colors Classes
********************/
.bg-gray{ background-color: $c-gray; }


.text-white{ color: $c-white; }
.text-blue{ color: $c-blue-light;}
.text-red{	color: $c-red;}



 