/********************
** Footer
********************/
footer{
	padding: 20px;
	background-color: $c-white;
	@include bp(sml) {
		padding: 30px;
	}
	p{
		@include font-size(16);
		@include line-height(20);
		max-width: 500px;
		margin: 0 auto;
		@include bp(med) {
			margin: 0;
		}
	}
	.footer-inner{
		width: 95%;
		margin: 0 auto;
		max-width: 1170px;
	}
	.footer-left,.footer-right{
		display: block;
		@include bp(med) {
			display: inline-block;
			vertical-align: middle;
			padding: 25px;
		}
		@include bp(lrg) {
			padding: 30px;
		}
	}
	.footer-left{
		@include bp(med) {
			width: 66.666%;
			padding-left: 0;
			border-right: 1px solid $c-base;
		}
		@include bp(lrg) {
			padding-left: 0;
		}
		.footer-logo,.footer-contact{
			display: block;
			@include bp(med) {
				display: inline-block;
				vertical-align: middle;
				width: 50%;
				margin: 0 -3px;
			}
		}
		.footer-logo{
			img{
				max-width: 300px;
   				max-height: 70px;
   				margin: 0 auto;
			}
		}
		.footer-contact{
			margin: 25px 0;
			@include bp(med) {
				margin: 0;
			}
		}
	}
	.footer-right{
		@include bp(med) {
			width: 33.333%;
			margin-left: -5px;
			padding-right: 0;
		}
		@include bp(lrg) {
			padding-right: 0;
		}
		.footer-social-intro,.footer-social-contain{
			margin: 0 auto;
			text-align: center;
			@include bp(med) {
				text-align: left;
				width: 50%;
				display: inline-block;
				vertical-align: middle;
				margin: 0 -3px;
			}	
		}
		.footer-social-intro{
			@include bp(med) {
				width: 40%;
			}
		}
		.footer-social-contain{
			@include bp(med) {
				width: 60%;
			}
		}
	}
}

