/********************
** Container
********************/

.page-container{
	position: relative;
	width: 100%;
	max-width: 1170px;
	min-height: 100%; 
	height: auto;
	margin: 0 auto;
	padding: 0;
  z-index: 1;
  padding: 0 5px;
  @include bp(sml) {
    padding: 0 35px;
  }
  @include bp(med) {
    padding: 0 50px;
  }
}

/********************
** Flex layouts
********************/

@mixin flex{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 
}
@mixin flex-item($flex:1){
  width: 100%;               	/* For old syntax, otherwise collapses. */
  -webkit-box-flex: $flex;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $flex;         /* OLD - Firefox 19- */
  -webkit-flex: $flex;          /* Chrome */
  -ms-flex: $flex;              /* IE 10 */
  flex: $flex;
  min-width: 0; 
}
@mixin flex-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.flex-contain{
	@include flex;
  &.flex-col {
    flex-direction: column;
  }
}


.flex-contain-wrap{
  @extend .flex-contain;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item{
	@include flex-item(1);
}
.flex-1{
	@include flex-item(1);
}
.flex-2{
	@include flex-item(2);
}
.flex-3{ 
	@include flex-item(3);
}
.flex-4{
	@include flex-item(4);
}



.dashboard-third,.dashboard-two-third,.dashboard-half,.dashboard-full{
  width: 100%;
  float: none;
  padding: 5px;
  @include bp(sml) {
    float: left;
    padding: 12px;
  }
}
.dashboard-half {
  @include bp(sml) {
    width: 50%;
  }
}
.dashboard-two-third{
  @include bp(sml) {
   width: 66.666%;
  }
}
.dashboard-full{
  @include bp(sml) {
   width: 100%;
  }
}
.dashboard-third{
  @include bp(sml) {
   width: 33.333%;
  }
}
