/********************
** Inputs
********************/
.label-standard{
	position: relative;
	text-transform: uppercase;
	@include font-size(14);
	@include line-height(14);
	padding-left: 5px;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	width: 100%;
	white-space: nowrap;

	input{
		display: block;
		width: 100%;
		background-color: $c-white;
		border-radius: 5px;
		border: 3px solid $c-gray;
		padding: 12px 10px;
		color: $c-base;
		@include font-size(18);
		//text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 20px;
	    margin-top: 5px;
		@include transition(all .25s ease-in-out);

		&:focus{
			border-color: $c-blue-light;
		}
	}

	&:before,&:after{
		@include font-size(34);
		font-family: $f-icons;
		display: block;
		position: absolute;
		top: 50%;
		
		@include transition(opacity .25s ease-in-out);
		opacity: 0;
	}

	&:before{
		content: "\f431";
		color: $c-white;
		left: -35px;
		@include transform(translateY(-50%) rotate(-90deg));
	}
	&:after{
		right: 10px;
		@include transform(translateY(-50%));
	}

	
	&.focus{
		&:before{
			opacity: .5;
		}
	}
	&.invalid{
		&:after{
			opacity: 1;
			color: $c-red;
			content: "\f405"
		}
	}
	&.valid{
		&:after{
			opacity: 1;
			color: $c-green;
			content: "\f418"
		}
	}

	&.half{
		width: 50%;
	}
}


/********************
** Homepage
********************/
#home{
	background-color: $c-blue-dark;
	background-image: url(../images/background_image.png);
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	color: $c-white;

	&:after{
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		background-color: $c-blue-dark;
		opacity: .75;
	}

	a{
		color: $c-white;
	}

	.header{
		position: relative;
    	left: 0;
    	top: 15px;
    	@include bp(sml) {
    		top: 35px;
    	}
    	@include bp(med) {
    		top: 50px;
    	}
    	h1{
    		@include font-size(44);
    	}
    	.tagline{
			padding: 5px 0 0 0;
			display: block;
    		@include font-size(13);
    		@include letter-spacing(75);
    	}
    	.logo-wrap{
			display: inline-block;
			border-bottom: 1px solid $c-white;
		}
		.home-nav-link{
			display: block;
			padding: 5px;
			&:hover{
				&:after{
					margin-left: 8px;
				}
			}
			&:after{
				content: "";
				display: inline-block;
				border-left: 8px solid $c-white;
				border-bottom: 4px solid transparent;
				border-top: 4px solid transparent;
				vertical-align: middle;
				margin-left: 5px;
				margin-top: -5px;
				@include transition(margin-left .25s linear);
			}
		}
	}
	.home-middle{
		max-width: 425px;
		width: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}
}

/********************
** Account Mangement
********************/

#home .home-account-management{
	.home-account-management-copy{
		margin-bottom: 40px;
		border-bottom: 1px solid $c-white;
		p{
			@include font-size(18);
			@include line-height(18);
			padding-bottom: 20px;
			padding-top: 15px;
			@include bp(sml) {
				padding-top: 25px;
				@include font-size(20);
				@include line-height(20);
			}
			
		}
	}
	.home-account-management-title{
		@include font-size(30);
		font-weight: bold;
	}

	.call-to-action{
		width: 40%;
		margin-right: -5px;
		margin-left: 10%;
		opacity: .5;
		pointer-events: none;
		cursor: not-allowed;
		@include transition(all .25s ease-in-out);
	}

	&.error{
		.home-account-management-title{
			color: $c-red;
		}
	}
	&.error-first{

	}
	&.error-last{

	}
	&.error-social{

	}
	&.allValid{
		.call-to-action{
			opacity: 1;
			pointer-events: all;
			cursor: pointer;
			background-color: $c-green;
			&:hover{
				background-color: darken($c-green,7);
			}
		}
	}
}
.home-introduction{
	max-width: 800px;
	text-align: center;

	p{
		padding: 30px 0px;
		@include font-size(26);
		@include line-height(28);
		@include bp(sml) {
			padding: 35px 0px;
			@include font-size(36);
			@include line-height(36);
		}
		@include bp(med) {
			padding: 50px 0px;
			@include font-size(42);
			@include line-height(42);
		}
	}
	.enroll-sub{
		padding-top: 20px;
		@include font-size(18);
	}
}


/********************
** Dashboard
********************/
#dashboard{

	.header{
		background-color: $c-blue-dark;
		padding: 10px;
		@include bp(sml) {
			padding: 20px;
		}

		.logo-wrap{
			width: 100%;
			text-align: left;
			display: inline-block;
			@include bp(sml) {
				width: 50%;
			}
		}
		nav.main-nav{
			display: inline-block;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			padding: 10px 0;
			@include bp(sml) {
				width: 50%;
				margin-left: -5px;
				text-align: right;
			}
			
			a{
				color: $c-blue-light;
				padding: 5px 10px;
				@include bp(sml) {
					padding: 15px;
					width: 33%;
				}
			}
		}
	}

	
	.dashboard-banner{
		background-color: $c-white;
		color: $c-blue-dark;
		padding: 25px 0;
		@include bp(sml) {
			padding: 35px;
		}
		@include bp(med) {
			padding: 50px 0;
		}

		.dashboard-banner-left{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			padding: 0 20px;
			@include bp(sml) {
				width: 66.666%;
				border-right: 1px solid $c-gray;
			}

			h1.dashboard-banner-heading{
				@include font-size(32);
					@include line-height(32);
				@include bp(sml){
					@include font-size(36);
					@include line-height(36);
				}
				@include bp(med){
					@include font-size(42);
					@include line-height(42);
				}
				@include bp(lrg){
					@include font-size(45);
					@include line-height(45);
				}
			}
			span.dashboard-banner-subheading{
				@include font-size(18);
				@include line-height(30);

				@include bp(med){
					@include font-size(20);
					@include line-height(36);
				}
				@include bp(lrg){
					@include font-size(24);
					@include line-height(40);
				}
			}
		}
		.dashboard-banner-right{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			margin-left: -5px;
			padding: 0 20px;
			@include bp(sml) {
				width: 33.333%;
			}
		}
		.dashboard-banner-logo{
			
			max-width: 200px;
			padding: 15px 0;
			width: 50%;
			@include bp(sml) {
				width: auto;
				margin: 0 auto;
				padding: 0;
			}
		}
	}

	.dashboard-main{
		background-color: $c-gray-light;
		.dasbhoard-main-message{
			padding: 25px 0;
			color: $c-blue-dark;
			@include bp(sml){ 
				padding: 50px 0;
			}
			@include bp(med){ 
				padding: 65px 0;
			}
			p{
				@include font-size(18);
				@include line-height(26);

				@include bp(sml){ 
					@include font-size(20);
					@include line-height(30);
				}
			}
		}
	}
}


.dashboard-block{
	border-radius: 5px;
	border: 1px solid $c-gray;
	background-color: $c-white;
	.dashboard-block-label{
		text-align: center;
		padding: 15px;
		@include font-size(20);
		@include line-height(30);
		@include letter-spacing(25);
		color: $c-base;
		border-bottom: 1px solid $c-gray;
		h1{
			font-weight: bolder;
		}
	}
	.dashboard-block-cta-bottom{
		display: block;
		text-align: center;
		padding: 15px;
		background-color: $c-blue-light;
		color: $c-white;
		@include font-size(20);
		@include line-height(30);
		@include letter-spacing(25);
		font-weight: bolder;
		text-decoration: none;
		@include transition(background-color .25s ease-in-out);
		&:hover{
			background-color: darken($c-blue-light,7);
		}
	}
}
.dashboard-profile{
	.dashboard-profile-name{
		@include font-size(25);
		@include line-height(40);
		color: $c-blue-dark;
		font-weight: bolder;
	}
	.dashboard-profile-union{
		@include font-size(20);
		@include line-height(30);
	}
	.profile-section{
		padding: 30px 0;
		margin: 0 20px;
		border-bottom: 1px solid $c-gray;
	}
	.profile-item{
		@include font-size(18);
		@include line-height(26);
		@include bp(sml) {
			@include font-size(20);
			@include line-height(30);
		}
		
		padding: 5px 0;

		.profile-label{
			color: $c-blue-dark;
			padding-right: 5px;
		}
		.profile-value{
			color: $c-base;
		}
	}
}


.dashboard-block-suport {
	color: $c-blue-dark;
	text-align: center;

	.support-headline{
		@include font-size(32);
		@include line-height(30);
		padding-bottom: 30px;

		&:before{
			content: "\f438";
			display: block;
			font-family: $f-icons;
			@include font-size(48);
			padding-bottom: 25px;
		}
	}
	.support-hours{
		@include font-size(20);
		@include line-height(24);
	}
	.support-message{
		@include font-size(16);
		@include line-height(18);
	}
}


.dashboard-block-enrollment{
	&.pending{
		.dashboard-block-label{
			background-color: $c-red;
			color: $c-white;
		}
	}
}

article.plan-block{
	padding: 25px;
	.plan-block-inner{
		margin: 0 auto;
		li{
			list-style: none;
		}
	}
}




