


/********************
** General dashboard block class
********************/
.dashboard-block{
	border-radius: 5px;
	border: 1px solid $c-gray;
	background-color: $c-white;
	.dashboard-block-label{
		text-align: center;
		padding: 15px;
		@include font-size(20);
		@include line-height(30);
		@include letter-spacing(25);
		color: $c-base;
		border-bottom: 1px solid $c-gray;
		h1{
			font-weight: bolder;
		}
	}
	.dashboard-block-cta-bottom{
		display: block;
		text-align: center;
		padding: 15px;
		@include font-size(20);
		@include line-height(30);
		@include letter-spacing(25);
		font-weight: bolder;
		text-decoration: none;
		text-transform: uppercase;
		@include transition(background-color .25s ease-in-out);
	}
}

/********************
** Dashboard profile block
********************/
.dashboard-profile{
	.dashboard-profile-name{
		@include font-size(25);
		@include line-height(40);
		color: $c-blue-dark;
		font-weight: bolder;
	}
	.dashboard-profile-union{
		@include font-size(20);
		@include line-height(30);
	}
	.profile-section{
		padding: 30px 0;
		margin: 0 20px;
		border-bottom: 1px solid $c-gray;
		&:last-of-type{
			border-bottom: none;
		}
	}
	.profile-item{
		@include font-size(18);
		@include line-height(26);
		@include bp(sml) {
			@include font-size(20);
			@include line-height(30);
		}
		
		padding: 5px 0;

		.profile-label{
			color: $c-blue-dark;
			padding-right: 5px;
		}
		.profile-value{
			color: $c-base;
		}
	}
	.dashboard-block-cta-bottom{
		background-color: $c-blue-light;
		color: $c-white;
		&:hover{
			background-color: darken($c-blue-light,7);
		}
	}
}

/********************
** Support Block
********************/
.dashboard-block-suport {
	color: $c-blue-dark;
	text-align: center;
	margin: 20px 0;
	@include bp(sml) {
		margin: 35px 0;
	}
	@include bp(med) {
		margin: 50px 0;
	}

	.support-headline{
		@include font-size(32);
		@include line-height(30);
		padding-bottom: 30px;

		&:before{
			content: "\f438";
			display: block;
			font-family: $f-icons;
			@include font-size(48);
			padding-bottom: 25px;
		}
	}
	.support-hours{
		@include font-size(20);
		@include line-height(24);
	}
	.support-message{
		@include font-size(16);
		@include line-height(18);
	}
}

/********************
** Differnt states of enrollment
********************/
.dashboard-block-enrollment{
	.dashboard-block-enrollment-inner{
		padding: 35px;
		article.plan-block{
			margin: 0 auto;
		}
	}
	&.pending{
		.enrollment-status-value{
			color: $c-red;
		}
	}
	&.active{
		.enrollment-header{
			background-color: $c-green;
			color: $c-white;
		}
	}
	&.unselected{
		.enrollment-status-value{
			color: $c-red;
			@include bp(sml) {
				@include font-size(38);
				@include line-height(44);
			}
		}
		.dashboard-block-label{
			@include bp(sml) {
				padding: 30px;
			}
		}
		.dashboard-block-enrollment-inner{
			text-align: center;
			p{
				@include font-size(18);
				@include line-height(20);
			}
			.cta{
				margin-top: 50px;
			}
		}
	}
}


/********************
** Plan Block
********************/
article.plan-block{
	box-shadow: 0 0 10px 0px #BDC1C3;
	position: relative;
	max-width: 550px;
	margin: 0 auto;

	.plan-block-header{
		padding: 15px 25px;
		text-align: left;
		border-bottom: 1px solid $c-gray;
		.plan-title{
			text-transform: uppercase;
			font-weight: bolder;
			color: $c-blue-light;
			@include font-size(18);
			@include line-height(20);
			@include letter-spacing(25);
			width: calc(100% - 110px);
		}
	}
	.plan-block-inner,.plan-block-pharm-deduct{
		padding: 25px;
		margin: 0 auto;
		border-bottom: 1px solid $c-gray;
	}
	.plan-block-inner{
		@include bp(sml) {
			min-height: 225px;
			height: auto;
		}
		li.plan-item{
			list-style: none;
			padding: 5px 0;
			@include font-size(18);
			@include line-height(20);
			@include bp(sml) {
				width: calc(100% - 110px);
			}
			.plan-item-label{
				padding-right: 5px;
			}
			.plan-item-value{
				color: $c-blue-light;
				font-weight: bolder;
			}
		}
	}
	.plan-block-pharm-deduct{
		.plan-block-pharm-deduct-title{
			@include font-size(18);
			@include line-height(20);
			@include letter-spacing(25);
			font-weight: bolder;
			color: $c-blue-dark;
			text-transform: uppercase;
		}
		ul{
			padding-top: 10px;
		}
		.pharm-deduct-item{
			display: inline-block;
			text-align: center;
			@include font-size(15);
			@include bp(sml) {
				@include font-size(16);
			}
			@include bp(med) {
				@include font-size(18);
			}
			.pharm-deduct-item-value{
				color: $c-blue-light;
				font-weight: bolder;
				display: block;
			}
			.pharm-deduct-item-label{
				display: block;
			}
		}
	}
	.plan-block-ribbon{
		position: relative;
		top: 0;
		width: 100%;
		border-bottom: 1px solid $c-gray;
		@include bp(sml) {
			position: absolute;
			width: 115px;
			right: 10px;
			border-bottom: none;
		}
		@include bp(med) {
			right: 25px;
		}
		ul{
			@include bp(sml) {
				border: 1px solid $c-blue-light;
				border-bottom:none;
				margin-bottom: -20px;
			}
		}
		.ribbon-end{
			display: none;
			@include bp(sml) {
				display: block;
				width: 100%;
			}
		}
		li{
			padding: 5px;
			display: inline-block;
			width: 33.333%;
			margin-right: -5px;
			text-align: center;
			vertical-align: top;

			@include bp(sml) {
				width: 100%;
				margin-right: 0;
			}
			.ribbon-label{
				text-align: center;
				display: block;
				font-weight: bolder;
				@include font-size(16);
				@include line-height(16);
				white-space: nowrap;
				vertical-align: middle;
			}
			.ribbon-value {
				text-align: center;
				display: block;
				font-weight: bolder;
				vertical-align: middle;
				@include font-size(21);
				@include letter-spacing(50);
				@include bp(sml) {
					@include font-size(24);
				}
			}
			&.ribbon-total {
				background-color: $c-blue-light;
				color: $c-white;
				@include bp(sml) {
					line-height: 44px;
    				height: 80px;
				}
			}
			&.ribbon-yours {
				.ribbon-value {
					color: $c-red;
				}
			}
			&.ribbon-union {
				.ribbon-value {
					color: $c-green;
				}
			}
		}
	}
	.plan-block-footer{
		display: block;
		padding: 15px;
		text-align: center;
		.plan-block-footer-cta{
			display: inline-block;
			background-color: $c-gray-light;
			@include transition(background-color .25s ease-in-out);
			color: $c-base;
			margin: 10px;
			padding: 15px;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bolder;
			border-radius: 3px;
			@include font-size(16);
			@include line-height(20);
			@include letter-spacing(25);
			@include bp(sml) {
				    padding: 20px 15px;
			}
			&:hover{
				background-color: darken($c-gray-light,7);
			}
			&:after{
				content: "\f440";
				display: inline-block;
				padding-left: 15px;
				vertical-align: middle;
				font-size: 18px;
				font-family: $f-icons;
				vertical-align: top;
			}
		}
	}

	.dashboard-block-cta-bottom{
		display: none;
		background-color: $c-green;
		color: $c-white;
		&:hover{
			background-color: darken($c-green,7);
		}
	}

	&.selectable {
		.dashboard-block-cta-bottom{
			display: block;
		}
	}
}
.plan-block-container{
	padding: 12px 5px;
	@include bp(sml) {
		padding: 12px;
	}
}

/********************
** Confirm Amount Block
********************/
.dashboard-block-confirm-amount {
	max-width: 550px;
	margin: 0 auto;
	.confirm-amount-figure{
		display: block;
		text-align: center;
		color: $c-red;
		@include font-size(50);
		@include line-height(50);
    	padding: 20px;
    	@include bp(sml) {
    		@include font-size(65);
			@include line-height(65);
    	}
    	@include bp(med) {
    		@include font-size(80);
			@include line-height(80);
    	}
	}
	.dashboard-block-cta-bottom{
		background-color: $c-green;
		color: $c-white;
		&:hover{
			background-color: darken($c-green,7);
		}
	}
}
/********************
** Split pages/ split background
********************/
.split-bg{
	display: none;
	@include bp(sml) {
		@include flex;
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.split-bg-left,.split-bg-right{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		height: 100%;
	}
	.split-bg-left{
		background-color: $c-gray-light;
	}
	.split-bg-right{
		background-color: #EFEFEF;
	}
}