/********************
** Font Config
********************/
@charset "UTF-8";

$baseFontSize:          16;
$baseLineHeight:        1.875em;

$f-quicksand: 			'quicksand';
$f-icons:				"Genericons";

@font-face {
    font-family: 'quicksand';
    src: url('../font/Quicksand-Light.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'quicksand';
    src: url('../font/Quicksand-Bold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'quicksand';
    src: url('../font/Quicksand-Regular.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Genericons';
    src: url('../font/Genericons.eot');
    src: url('../font/Genericons.eot?#iefix') format('embedded-opentype'),
         url('../font/Genericons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/********************
** Font Styles
********************/
html{
	font-family: 'quicksand';
	font-weight: 500;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { display: block; font-weight: 500;}

p { 
	@include font-size(16);
	@include line-height(18);
	@include bp(med) {
		@include font-size(18);
		@include line-height(20);
    }
}

p + p {
	margin-bottom: 10px;
	@include bp(med) {
		margin-bottom: 20px;
	}
}

a {
	text-decoration: underline;
	color: $c-blue-dark;	
}


/********************
** Generic font modifiers
********************/
.up {
	text-transform: uppercase;
}

.down {
	text-transform: lowercase;
}

.cap {
	text-transform: capitalize;
}

.italic {
	font-style: italic;
}

.centered {
	text-align: center;
}
.bold{
	font-weight: bolder;
}
.light{
	font-weight: lighter;
}
.underline{
	text-decoration: underline;
}


/********************
** Specific font modifiers
********************/
.phone{
	color: $c-blue-light;
	font-weight: bolder;
	white-space: nowrap;
}